/* items /
section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
}
section div {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-size: 3em;
    background-color: white;
    margin: 10px ;
}

/ specific item styles */

.item-1 {
    background: #b03532;
}
.item-2 {
    background: #33a8a5;
    grid-column: 2 / span 2;
}
.item-3 {
    background: #30997a;
}
.item-4 {
    background: #6a478f;
}
.item-5 {
    background: #da6f2b;
    grid-column: 2 / span 2;
}
.item-6 {
    background: #3d8bb1;
}
.item-7 {
    background: #e03f3f;
}
.item-8 {
    background: #59a627;
    grid-column: 2 / span 2;
}
.item-9 {
    background: #4464a1;
}
@media screen and (max-width: 760px) {
    section{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }
    .item-1 {
        visibility: hidden;
    }
    .item-2 {
        grid-column: 2 / span 1;
        grid-row: 1/2;
    }
    .item-3 {
        grid-column: 1 / span 2;
        grid-row: 4/5;
    }
    .item-4 {
        grid-row: 2/3;
    }
    .item-5 {
        grid-column: 2 / span 1;
        grid-row: 2/3;
    }
    .item-6 {
        visibility: hidden;
    }
    .item-7 {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .item-8 {
        grid-row: 3/4;
        grid-column: 2 / span 1;
    }
    .item-9 {
        grid-row: 1/2;
    }
}


